@font-face {
  font-family: simp; /* set name */
  src: url(../fonts/SimplyMono-Book.ttf); /* url of the font */}

  body {background-color: #eee1d1}

  h1 {
    color:#3e1921;
    font-size:10px;
    font-family: simp;
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  h2 {
     color: #981330;
    font-size:15px;
    font-family: simp;
    text-align: center;
    width: 100%;
    padding:0 20px;
}

    h3 {
        color:#7f2230;
        font-size:12px;
    font-family: simp;
    max-width: 30%;
    padding-left: 20%;
}


    h4 {
        color:#a67926;
        font-size:12px;
    font-family: simp;
    max-width: 30%;
    margin-left: 50%;
    padding-right: 20%;
}

h5{
     color: #981330;
    font-size:10px;
    font-family: simp;
    text-align: center;
    width: 100%;
    padding:0 20px;
}